body{
    margin: 0;
    padding: 0;
}
.services {
  height: 100vh;
  width: 100%;
  background-color: linear-gradient(#5dd9a0, #42a96e, #206e30);
  background-color: #206e30;
}
.services h1{
    text-align: center;
    font-size: 50px;
    color:black;
}
.services section {
  height: 65%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services section figure {
  height: 100%;
  width: 30%;
  background-color: white;
  gap: 2px;
}
